<div class="container-fluid " style="min-width: 1200px; margin-bottom: 20px">
  <div class="container">
    <div *ngIf="cartList == null">
      <div class="text-center">
        <img src="assets/images/404.png">
      </div>
      <button [routerLink]="['']" class="btn btn-light">
        <i class="fa fa-chevron-left pr-2"></i>
        <span translate>settings.continueShopping</span>
      </button>
    </div>
    <div class="row" *ngIf="cartList != null">
      <main class="col-md-9">
        <div class="card">
          <table class="table table-borderless table-shopping-cart">
            <thead class="text-light bg-cart">
            <tr class="text-uppercase text-center">
              <th translate>settings.product</th>
              <th translate>settings.quantity</th>
              <th translate>settings.price</th>
              <th translate>settings.total</th>
              <th translate>settings.action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cart of cartList">
              <td>
                <figure class="itemside">
                  <div class="aside"><img src="{{cart.book.imageList[0].path}}" class="img-sm"></div>
                  <figcaption class="info">
                    <a [href]="['book/'+ cart.book.id]" class="title text-dark"
                       style="margin-bottom: 5px;overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100px">{{cart.book.name}}</a>
                  </figcaption>
                </figure>
              </td>
              <td>
                <button class="minus is-form" (click)="minusQuantity(cart)"><i class="fa fa-minus"></i></button>
                <input class="input-qty" type="number" id="quantity"
                       [value]="cart.quantity" disabled>
                <button class="plus is-form" (click)="plusQuantity(cart)"><i class="fa fa-plus"></i></button>
              </td>
              <td class="text-right">
                {{cart.book.price | currency: "VND"}}
              </td>
              <td class="text-right">
                {{cart.quantity * cart.book.price | currency: "VND"}}
              </td>
              <td class="text-right" style="text-align-last: center;" *ngIf="cart.quantity <= cart.book.quantity">
                <a class="btn" (click)="deleteCart(cart.id)"><i class="fa fa-trash text-trash"></i></a>
              </td>
              <td class="text-right text-danger" style="text-align-last: center;"
                  *ngIf="cart.quantity > cart.book.quantity">
                <a class="btn" (click)="deleteCart(cart.id)"><i class="fa fa-trash text-trash"></i></a><br>
                <span translate>settings.outOfStock</span>
              </td>
            </tr>
            </tbody>
          </table>

          <div class="card-body border-top">
            <a [href]="['checkout']">
              <button class="btn btn-success float-md-right">
                <span translate>settings.pay</span>
                <i class="fa fa-chevron-right pl-2"></i>
              </button>
            </a>
            <button [routerLink]="['']" class="btn btn-light">
              <i class="fa fa-chevron-left pr-2"></i><span translate>settings.continueShopping</span>
            </button>
          </div>
        </div>
      </main>
      <aside class="col-md-3 mt-3">
        <div class="card">
          <div class="card-body">
            <dl class="dlist-align">
              <dt translate>settings.totalMoney</dt>
              <dd class="text-right">{{total | currency: "VND"}}</dd>
            </dl>
            <dl class="dlist-align">
              <dt translate>settings.ship</dt>
              <dd class="text-right">{{priceShip | currency: "VND"}}</dd>
            </dl>
            <hr>
            <dl class="dlist-align" style="font-size: 25px">
              <dt translate>settings.total</dt>
              <dd class="text-right text-danger">{{totalPrice | currency: "VND"}}</dd>
            </dl>
          </div>
        </div>
        <div class="pt-3">
          <h5 class="font-weight-bold" translate>settings.service</h5>
          <p translate><i class="fa fa-truck mr-4"></i>settings.contentService1</p>
          <p translate><i class="fa fa-truck mr-4"></i>settings.contentService2</p>
        </div>
      </aside>
    </div>
  </div>
</div>

