<h3 class="text-center">DANH SÁCH SÁCH TRONG CỬA HÀNG</h3>
<button type="button" class="btn btn-primary float-right"><i class="fa fa-plus"></i></button>
<div class="card-box table-responsive">
  <table id="datatable-checkbox" class="table table-striped table-bordered bulk_action" style="width:100%">
    <thead>
    <tr>
      <th>Chọn</th>
      <th>Mã sách</th>
      <th>Tên sách</th>
      <th>Thể loại</th>
      <th>Tác giả</th>
      <th>Nhà xuất bản</th>
      <th>Số lượng</th>
      <th>Giá</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let book of bookList | paginate :{itemsPerPage:10 ,currentPage : p}">
      <td>
        <input type="checkbox" id="check-all">
      </td>
      <td>{{book.code}}</td>
      <td class="text-title">{{book.name}}</td>
<!--      <td>{{book.categoryList}}</td>-->
<!--      <td>{{book.authorList}}</td>-->
<!--      <td>N{{book.producerList}}</td>-->
      <td>ad</td>
      <td>ada</td>
      <td>adaff</td>
      <td class="text-right">{{book.quantity}}</td>
      <td class="text-right">{{book.price}}</td>
    </tr>
    </tbody>
  </table>
</div>
<!--        Pagination-->
<pagination-controls class="text-right text" (pageChange)="p = $event"
                     previousLabel="Trước"
                     nextLabel="Sau"
                     [autoHide]="true">
</pagination-controls>

