<h5 mat-dialog-title class="text-center text-uppercase">Thêm nhà xuất bản mới</h5>
<hr>
<div mat-dialog-content>
  <form class="form-group" [formGroup]="formAddProducer" (ngSubmit)="addProducer()">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Tên thể loại</label>
      <input type="text" formControlName="name" class="col-sm-8 form-control" placeholder="Nhà xuất bản">
      <p class="col-4"></p>
      <mat-error
        *ngIf="(formAddProducer.get('name')?.hasError('required') && formAddProducer.get('name')?.touched) ||
        (formAddProducer.get('name')?.untouched && submitting)">
        Tên nhà xuất bản không được để trống!
      </mat-error>
    </div>
    <hr>
    <div mat-dialog-actions class="justify-content-center">
      <button mat-button mat-dialog-close class="btn btn-secondary">Thoát</button>
      <button mat-button class="btn btn-danger" type="submit">Thêm</button>
    </div>
  </form>
</div>
