<form class="form-group form-label-left input_mask" [formGroup]="formUpdateBook" (ngSubmit)="updateBook()">
  <h1 class="text-center text-uppercase" mat-dialog-title>Chỉnh sửa thông tin sách</h1>
  <hr>
  <div mat-dialog-content>
    <div class="form-group row" style="padding: 0px 10px">
      <label>Tên sách</label>
      <input type="text" class="form-control" formControlName="name" placeholder="Nhập tên sách">
      <mat-error
        *ngIf="formUpdateBook.get('name')?.hasError('required') && formUpdateBook.get('name')?.touched">
        Tên sách không được để trống!
      </mat-error>
      <mat-error
        *ngIf="formUpdateBook.get('name')?.hasError('maxLength') && formUpdateBook.get('name')?.touched">
        Tên sách không vượt qua 45 ký tự!
      </mat-error>
    </div>
    <div class="row ">
      <div class="form-group col-md-4">
        <label>Mã sách</label>
        <input type="text" class="form-control" formControlName="code" placeholder="Nhập mã sách">
        <mat-error
          *ngIf="formUpdateBook.get('code')?.hasError('required') && formUpdateBook.get('code')?.touched">
          Mã sách không được để trống!
        </mat-error>
        <!--        <mat-error-->
        <!--             *ngIf="formCreateBook.get('code')?.hasError('pattern') && formCreateBook.get('code')?.touched">-->
        <!--          Mã sách phải đủ 8 chữ số!-->
        <!--        </mat-error>-->
      </div>
      <div class="form-group col-md-4">
        <label>Ngôn ngữ</label>
        <select class="form-control" formControlName="language">
          <option value="VIETNAMESE" selected>Tiếng Việt</option>
          <option value="ENGLISH">Tiếng Anh</option>
          <option value="JAPANESE">Tiếng Nhật</option>
          <option value="CHINESE">Tiếng Trung</option>
        </select>
        <mat-error
          *ngIf="formUpdateBook.get('language')?.hasError('required') && formUpdateBook.get('language')?.touched">
          Ngôn ngữ không được để trống!
        </mat-error>
      </div>
      <div class="form-group col-md-4">
        <label>Loại bìa</label>
        <select class="form-control" formControlName="formCover">
          <option value="SOFT" selected>Bìa Mềm</option>
          <option value="HARD">Bìa Cứng</option>
        </select>
        <mat-error
          *ngIf="formUpdateBook.get('formCover')?.hasError('required') && formUpdateBook.get('formCover')?.touched">
          Loại bìa không được để trống!
        </mat-error>
      </div>
    </div>
    <div class="row ">
      <div class="form-group col-md-3">
        <label>Giá</label>
        <input type="number" class="form-control" formControlName="price" placeholder="0.00">
        <mat-error
          *ngIf="formUpdateBook.get('price')?.hasError('required') && formUpdateBook.get('price')?.touched">
          Giá sách không được để trống!
        </mat-error>
        <!--        <mat-error-->
        <!--             *ngIf="formCreateBook.get('price')?.hasError('pattern') && formCreateBook.get('price')?.touched">-->
        <!--          Giá sách phải là một số dương!-->
        <!--        </mat-error>-->
      </div>
      <div class="form-group col-md-3">
        <label>Số lượng</label>
        <input type="number" class="form-control" formControlName="quantity" placeholder="0">
        <mat-error
          *ngIf="formUpdateBook.get('quantity')?.hasError('required') && formUpdateBook.get('quantity')?.touched">
          Số lượng sách không được để trống!
        </mat-error>
        <!--        <mat-error-->
        <!--             *ngIf="formCreateBook.get('quantity')?.hasError('pattern') && formCreateBook.get('quantity')?.touched">-->
        <!--          Số lượng sách phải là số dương!-->
        <!--        </mat-error>-->
      </div>
      <div class="form-group col-md-3">
        <label>Số trang</label>
        <input type="number" class="form-control" formControlName="pageNumber" placeholder="0">
        <mat-error
          *ngIf="formUpdateBook.get('pageNumber')?.hasError('required') && formUpdateBook.get('pageNumber')?.touched">
          Số trang sách không được để trống!
        </mat-error>
        <!--        <mat-error-->
        <!--             *ngIf="formCreateBook.get('pageNumber')?.hasError('pattern') && formCreateBook.get('pageNumber')?.touched">-->
        <!--          Số trang sách phải là số dương!-->
        <!--        </mat-error>-->
      </div>
      <div class="form-group col-md-3">
        <label>Năm xuất bản</label>
        <input type="number" formControlName="yearPublishing" class="form-control"/>
        <mat-error
          *ngIf="formUpdateBook.get('yearPublishing')?.hasError('required') && formUpdateBook.get('yearPublishing')?.touched">
          Mã sách không được để trống!
        </mat-error>
        <!--        <mat-error-->
        <!--             *ngIf="formCreateBook.get('yearPublishing')?.hasError('pattern') && formCreateBook.get('yearPublishing')?.touched">-->
        <!--          Mã sách phải đủ 8 chữ số!-->
        <!--        </mat-error>-->
      </div>
    </div>
    <div class="row ">
      <div class="form-group col-md-3">
        <label>Chiều dài</label>
        <input type="number" class="form-control" formControlName="lenght" placeholder="0.00">
        <mat-error
          *ngIf="formUpdateBook.get('lenght')?.hasError('required') && formUpdateBook.get('lenght')?.touched">
          Chiều dài trang sách không được để trống!
        </mat-error>
        <!--        <mat-error-->
        <!--             *ngIf="formCreateBook.get('lenght')?.hasError('pattern') && formCreateBook.get('lenght')?.touched">-->
        <!--          Chiều dài trang sách phải là số dương!-->
        <!--        </mat-error>-->
      </div>
      <div class="form-group col-md-3">
        <label>Chiều rộng</label>
        <input type="number" class="form-control" formControlName="width" placeholder="0.00">
        <mat-error
          *ngIf="formUpdateBook.get('width')?.hasError('required') && formUpdateBook.get('width')?.touched">
          Chiều rộng sách không được để trống!
        </mat-error>
        <!--        <mat-error-->
        <!--             *ngIf="formCreateBook.get('width')?.hasError('pattern') && formCreateBook.get('width')?.touched">-->
        <!--          Chiều rộng sách phải là một số dương!-->
        <!--        </mat-error>-->
      </div>
      <div class="form-group col-md-3">
        <label>Chiều cao</label>
        <input type="number" class="form-control" formControlName="height" placeholder="0.00">
        <mat-error
          *ngIf="formUpdateBook.get('height')?.hasError('required') && formUpdateBook.get('height')?.touched">
          Chiều cao sách không được để trống!
        </mat-error>
        <!--        <mat-error-->
        <!--             *ngIf="formCreateBook.get('height')?.hasError('pattern') && formCreateBook.get('height')?.touched">-->
        <!--          Chiều cao sách phải là một số dương!-->
        <!--        </mat-error>-->
      </div>
      <div class="form-group col-md-3">
        <label>Trọng lượng</label>
        <input type="number" class="form-control" formControlName="weight" placeholder="0.00">
        <mat-error
          *ngIf="formUpdateBook.get('weight')?.hasError('required') && formUpdateBook.get('weight')?.touched">
          Trọng lượng sách không được để trống!
        </mat-error>
        <!--        <mat-error-->
        <!--             *ngIf="formCreateBook.get('weight')?.hasError('pattern') && formCreateBook.get('weight')?.touched">-->
        <!--          Trọng lượng sách phải là một số dương!-->
        <!--        </mat-error>-->
      </div>
    </div>
    <div class="row ">
      <div class="form-group col-md-4">
        <label>Thể loại <i (click)="openDialogAddCategory()" class="fa fa-plus btn-outline-secondary"></i></label>
        <mat-select class="form-control" placeholder="--Chọn--" multiple>
          <mat-option *ngFor="let category of categoryList" value="{{category.id}}" formArrayName="categoryList"
                      (onSelectionChange)="onCheckboxChangeCategory($event,category)">{{category.name}}</mat-option>
        </mat-select>
        <!--        <mat-error-->
        <!--          *ngIf="formCreateBook.get('categoryList')?.hasError('required') && formCreateBook.get('categoryList')?.touched">-->
        <!--          Nhà xuất bản không được để trống!-->
        <!--        </mat-error>-->
      </div>
      <div class="form-group col-md-4">
        <label>Tác giả <i (click)="openDialogAddAuthor()" class="fa fa-plus btn-outline-secondary"></i></label>
        <mat-select class="form-control" placeholder="--Chọn--" multiple>
          <mat-option *ngFor="let author of authorList" value="{{author.id}}" formArrayName="authorList"
                      (onSelectionChange)="onCheckboxChangeAuthor($event,author)">{{author.name}}</mat-option>
        </mat-select>
        <!--        <mat-error-->
        <!--          *ngIf="formCreateBook.get('authorList')?.hasError('required') && formCreateBook.get('authorList')?.touched">-->
        <!--          Loại bìa không được để trống!-->
        <!--        </mat-error>-->
      </div>
      <div class="form-group col-md-4" formGroupName="producer">
        <label>Nhà xuất bản <i (click)="openDialogAddProducer()" class="fa fa-plus btn-outline-secondary"></i></label>
        <mat-select class="form-control" placeholder="--Chọn--" formControlName="id">
          <mat-option *ngFor="let producer of producerList" value="{{producer.id}}">{{producer.name}}</mat-option>
        </mat-select>
        <mat-error
          *ngIf="formUpdateBook.get('producer')?.hasError('required') && formUpdateBook.get('producer')?.touched">
          Nhà xuất bản không được để trống!
        </mat-error>
      </div>
    </div>
    <div class="row ">
      <div class="form-group col-md-6">
        <label>Ảnh</label>
        <input type="file" class="form-control" formControlName="imageList" multiple>
      </div>
    </div>
    <div class="form-group row" style="padding: 0px 10px">
      <label>Mô tả</label>
      <textarea class="form-control" formControlName="description" placeholder="Mô tả"></textarea>
    </div>
  </div>
  <hr>
  <div class="form-group row" mat-dialog-actions>
    <div class="col-md-9 col-sm-9  offset-md-3">
      <button mat-button mat-dialog-close class="btn btn-secondary">Thoát</button>
      <button mat-button class="btn btn-info" type="reset">Đặt lại</button>
      <button mat-button class="btn btn-success" type="submit">Cập nhật</button>
    </div>
  </div>
</form>
