<nav class="navbar navbar-expand-lg navbar-light bg-navbar" style="min-width: 1200px">
  <a class="navbar-brand" style="font-size: xx-large" (click)="home()"><i class="fa fa-book"> HONNYA BOOK</i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="nav-item dropdown open mt-3 text-uppercase" style="padding-left: 40px;">
      <a class="user-profile " aria-haspopup="true" id="idCategory"
         data-toggle="dropdown" aria-expanded="false">
      <span data-toggle="tooltip" data-placement="bottom" style="font-family: FontAwesome; font-size: large">
          <p translate>settings.category</p>
        </span>
      </a>
      <div class="dropdown-menu dropdown-usermenu pull-right mr-6 menu-category" aria-labelledby="idCategory">
        <div class="list-group">
          <a type="button" class="list-group-item list-group-item-action"
             *ngFor="let category of categoryList" (click)="searchByCategory(category.id)">
            {{category.name}}
          </a>
        </div>
      </div>
    </ul>
    <span hidden translate #keyword>settings.keyword</span>
    <ul class="navbar-nav mr-auto mt-2 ml-auto mt-0">
      <div class="form-inline my-2 my-0 row" style="width: 500px">
        <input class="form-control col-9 mr-2" type="search" [placeholder]="keyword.textContent" #searchName>
        <button (click)="searchByName(searchName.value)" class="btn btn-success-new my-2 my-0" translate>settings.search</button>
      </div>
    </ul>
    <ul class="mt-3 mr-4" [hidden]="!isLoggedIn() ? true : false">
      <a class="text-light" style="font-size: 25px" [routerLink]="['cart']">
        <i class="fa fa-shopping-cart" [matBadge]="quantity"
           [matBadgeHidden]="quantity == 0 ? true : false"
           matBadgeColor="warn"></i>
      </a>
    </ul>
    <ul class="mt-3 mr-4" style="font-family: FontAwesome; color: white; font-size: 15px">
      <select style="border: none; width: 100px; height: 20px" (click)="changeDefaultLanguage(language.value)" #language>
        <option value="ta">Việt Nam</option>
        <option value="jp">日本語</option>
      </select>
    </ul>

    <div *ngIf="isLoggedIn()" class=" mt-3">
      <ul class="nav-item dropdown open">
        <a class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown"
           data-toggle="dropdown" aria-expanded="false">
          <img *ngIf="!user?.image" src="assets/images/avatar.jpg">
          <img *ngIf="user?.image" src="{{user?.image}}">
          <span data-toggle="tooltip" data-placement="bottom">
          {{authService.getUsername()}}
        </span>
        </a>
        <div class="dropdown-menu dropdown-usermenu pull-right mr-3" aria-labelledby="navbarDropdown">
          <button class="dropdown-item" [routerLink]="['profile']"><p translate>settings.information</p></button>
          <button class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out pull-right"></i><p translate>settings.logout</p>
          </button>
        </div>
      </ul>
    </div>
    <button class="btn btn-success-new" *ngIf="!isLoggedIn()" [routerLink]="['/login']" translate>settings.login</button>
  </div>
</nav>
<div class="m-4">
  <router-outlet></router-outlet>
</div>
