<!--<form>-->
<!--  <div formGroupName="password">-->
<!--    <div class="form-group">-->
<!--      <label>Mật khẩu</label>-->
<!--      <input type="text" class="form-control" formControlName="password1" placeholder="********">-->
<!--      <mat-error-->
<!--        *ngIf="formCreateManagement.get('account.password.password1')?.hasError('required') && formCreateManagement.get('account.password.password1')?.touched">-->
<!--        Mật khẩu không được để trống!-->
<!--      </mat-error>-->
<!--      <mat-error-->
<!--        *ngIf="formCreateManagement.get('account.password.password1')?.hasError('minLength') && formCreateManagement.get('account.password.password1')?.touched">-->
<!--        Mật khẩu phải lớn hơn 8 kí tự!-->
<!--      </mat-error>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <label>Xác nhận mật khẩu</label>-->
<!--      <input type="text" class="form-control" formControlName="confirmPassword" placeholder="********">-->
<!--      <mat-error-->
<!--        *ngIf="formCreateManagement.get('account.password.confirmPassword')?.hasError('required') && formCreateManagement.get('account.password.confirmPassword')?.touched">-->
<!--        Mật khẩu không được để trống!-->
<!--      </mat-error>-->
<!--      <mat-error-->
<!--        *ngIf="formCreateManagement.get('account.password.confirmPassword')?.hasError('minLength') && formCreateManagement.get('account.password.confirmPassword')?.touched">-->
<!--        Mật khẩu phải lớn hơn 8 kí tự!-->
<!--      </mat-error>-->
<!--    </div>-->
<!--    <mat-error-->
<!--      *ngIf="formCreateManagement.hasError('passwordnotmatch', ['account.password']) && formCreateManagement.get('account.password')?.touched">-->
<!--      >-->
<!--      Mật khẩu không trùng khớp!-->
<!--    </mat-error>-->
<!--  </div>-->
<!--</form>-->
