<div class="card" style="min-width: 1200px">
  <div class="card-body">
    <form class="m-5" [formGroup]="formChangePassword" (ngSubmit)="changePassword()">
      <div class="form-group row">
        <label for="oldPassword" class="col-4 col-form-label font-weight-bold">Mật Khẩu Hiện Tại</label>
        <div class="col-8">
          <input type="password" class="form-control" formControlName="oldPassword" id="oldPassword" placeholder="********">
          <mat-error
            *ngIf="formChangePassword.get('oldPassword')?.hasError('required') && formChangePassword.get('oldPassword')?.touched">
            Mật khẩu không được để trống!
          </mat-error>
          <mat-error
            *ngIf="formChangePassword.get('oldPassword')?.hasError('minLength') && formChangePassword.get('oldPassword')?.touched">
            Mật khẩu phải lớn hơn 8 kí tự!
          </mat-error>
        </div>
      </div>
      <div formGroupName="newPassword">
        <div class="form-group row">
          <label for="password" class="col-4 col-form-label font-weight-bold">Mật Khẩu Mới</label>
          <div class="col-8">
            <input type="password" class="form-control" formControlName="password" id="password" placeholder="********">
            <mat-error
              *ngIf="formChangePassword.get('newPassword.password')?.hasError('required') && formChangePassword.get('newPassword.password')?.touched">
              Mật khẩu không được để trống!
            </mat-error>
            <mat-error
              *ngIf="formChangePassword.get('newPassword.password')?.hasError('minLength') && formChangePassword.get('newPassword.password')?.touched">
              Mật khẩu phải lớn hơn 8 kí tự!
            </mat-error>
          </div>
        </div>
        <div class="form-group row">
          <label for="confirmPassword" class="col-4 col-form-label font-weight-bold">Xác Nhận Mật Khẩu</label>
          <div class="col-8">
            <input type="password" class="form-control" formControlName="confirmPassword" id="confirmPassword"
                   placeholder="********">
            <mat-error
              *ngIf="formChangePassword.get('newPassword.confirmPassword')?.hasError('required') && formChangePassword.get('newPassword.confirmPassword')?.touched">
              Mật khẩu không được để trống!
            </mat-error>
            <mat-error
              *ngIf="formChangePassword.get('newPassword.confirmPassword')?.hasError('minLength') && formChangePassword.get('newPassword.confirmPassword')?.touched">
              Mật khẩu phải lớn hơn 8 kí tự!
            </mat-error>
            <mat-error
              *ngIf="formChangePassword.hasError('passwordnotmatch', ['newPassword']) && formChangePassword.get('newPassword')?.touched">
              Mật khẩu không trùng khớp!
            </mat-error>
          </div>
        </div>
      </div>

      <div class="text-center mt-3">
        <button type="submit" class="btn btn-order w-25">Lưu</button>
      </div>
    </form>
  </div>
</div>
