<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="login100-form-title" style="background-image: url(assets/images/bg_01.jpg);">
					<span class="login100-form-title-1">
						ĐĂNG NHẬP
					</span>
      </div>

      <form class="login100-form" [formGroup]="formRegister" (ngSubmit)="register()">
        <div class="wrap-input100 m-b-26">
          <span class="label-input100">Email</span>
          <input class="input100" type="text" formControlName="email" placeholder="your-email@gmail.com">
          <span class="focus-input100"></span>
        </div>
        <mat-error *ngIf="formRegister.get('email')?.hasError('required') && formRegister.get('email')?.touched">
          Email không được để trống!
        </mat-error>
        <mat-error *ngIf="formRegister.get('email')?.hasError('email') && formRegister.get('email')?.touched">
          Email không đúng định dạng!
        </mat-error>

        <div class="wrap-input100 m-b-26">
          <span class="label-input100">Tên đăng nhập</span>
          <input class="input100" type="text" formControlName="username" placeholder="uess12">
          <span class="focus-input100"></span>
        </div>
        <mat-error *ngIf="formRegister.get('username')?.hasError('required') && formRegister.get('username')?.touched">
          Tên đăng nhập không được để trống!
        </mat-error>
        <div class="wrap-input100 m-b-18">
          <span class="label-input100">Mật khẩu</span>
          <input class="input100" type="password" formControlName="password" placeholder="********">
          <span class="focus-input100"></span>
        </div>
        <div class="wrap-input100 m-b-18">
          <span class="label-input100">Xác nhận mật khẩu</span>
          <input class="input100" type="password" formControlName="confimpassword" placeholder="********">
          <span class="focus-input100"></span>
        </div>
        <mat-error *ngIf="formRegister.get('password')?.hasError('required') && formRegister.get('password')?.touched">
          Mật khẩu không được để trống!
        </mat-error>
        <mat-error *ngIf="formRegister.get('password')?.hasError('minLength') && formRegister.get('password')?.touched">
          Mật khẩu phải lớn hơn 8 ký tự!
        </mat-error>

        <div class="container-login100-form-btn">
          <button class="login100-form-btn" type="submit">
            Đăng Ký
          </button>
        </div>

        <div class="container-login100-form-btn">
          <button class="register100-form-btn" [routerLink]="['/login']">
            Đăng Nhập
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
