<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="login100-form-title" style="background-image: url(assets/images/bg_01.jpg);">
					<span class="login100-form-title-1 text-uppercase">
						<p translate>settings.register</p>
					</span>
      </div>

      <form class="login100-form" [formGroup]="formRegister" (ngSubmit)="register()">
        <div class="wrap-input100 m-b-26">
          <span class="label-input100" translate>settings.email</span>
          <input class="input100" type="text" formControlName="email" placeholder="your-email@gmail.com">
          <span class="focus-input100"></span>
        </div>
        <mat-error *ngIf="(formRegister.get('email')?.hasError('required') && formRegister.get('email')?.touched) ||
        (formRegister.get('email')?.untouched && submitting)">
          <p translate>settings.emailRequired</p>
        </mat-error>
        <mat-error *ngIf="formRegister.get('email')?.hasError('email') && formRegister.get('email')?.touched">
          <p translate>settings.emailErr1</p>
        </mat-error>
        <mat-error *ngIf="error">
          <p translate>settings.emailErr2</p>
        </mat-error>
        <div class="wrap-input100 m-b-26">
          <span class="label-input100" translate>settings.username</span>
          <input class="input100" type="text" formControlName="username" maxlength="45" placeholder="uess12">
          <span class="focus-input100"></span>
        </div>
        <mat-error
          *ngIf="(formRegister.get('username')?.hasError('required') && formRegister.get('username')?.touched) ||
            (formRegister.get('username')?.untouched && submitting)">
          <p translate>settings.usernameRequired</p>
        </mat-error>
        <div style="width: 100%" formGroupName="passwordGroup">
          <div class="wrap-input100 m-b-18">
            <span class="label-input100" translate>settings.password</span>
            <input class="input100" type="password" formControlName="password" placeholder="********">
            <span class="focus-input100"></span>
          </div>
          <mat-error
            *ngIf="(formRegister.get('passwordGroup.password')?.hasError('required') && formRegister.get('passwordGroup.password')?.touched) ||
              (formRegister.get('passwordGroup.password')?.untouched && submitting)">
            <p translate>settings.passwordRequired</p>
          </mat-error>
          <mat-error
            *ngIf="formRegister.get('passwordGroup.password')?.hasError('minLength') && formRegister.get('passwordGroup.password')?.touched">
            <p translate>settings.passwordErr1</p>
          </mat-error>
          <div class="wrap-input100 m-b-18">
            <span class="label-input100" translate>settings.comfirPassword</span>
            <input class="input100" type="password" formControlName="confimPassword" placeholder="********">
            <span class="focus-input100"></span>
          </div>
          <mat-error
            *ngIf="(formRegister.get('passwordGroup.confimPassword')?.hasError('required') && formRegister.get('passwordGroup.confimPassword')?.touched) ||
              (formRegister.get('passwordGroup.confimPassword')?.untouched && submitting)">
            <p translate>settings.passwordRequired</p>
          </mat-error>
          <mat-error
            *ngIf="formRegister.get('passwordGroup.confimPassword')?.hasError('minLength') && formRegister.get('passwordGroup.confimPassword')?.touched">
            <p translate>settings.passwordErr1</p>
          </mat-error>
        </div>
        <mat-error
          *ngIf="formRegister.hasError('passwordnotmatch', ['passwordGroup']) && formRegister.get('passwordGroup')?.touched">
          <p translate>settings.passwordErr2</p>
        </mat-error>

        <div class="container-login100-form-btn">
          <button class="login100-form-btn" type="submit">
            <p translate>settings.register</p>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
