<h5 mat-dialog-title class="text-center text-uppercase">{{book.name}}</h5>
<hr>
<div mat-dialog-content>
  <form class="form-group" [formGroup]="formAddBook" (ngSubmit)="addBook()">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Số lượng</label>
      <input type="number" formControlName="quantity" class="col-sm-8 form-control" placeholder="0">
      <p class="col-4"></p>
      <mat-error
           *ngIf="formAddBook.get('quantity')?.hasError('required') && formAddBook.get('quantity')?.touched">
        Số lượng sách không được để trống!
      </mat-error>
      <mat-error
           *ngIf="formAddBook.get('quantity')?.hasError('pattern') && formAddBook.get('quantity')?.touched">
        Số lượng sách phải là số dương!
      </mat-error>
    </div>
    <div mat-dialog-actions class="justify-content-center">
      <button mat-button mat-dialog-close class="btn btn-secondary">Thoát</button>
      <button mat-button class="btn btn-danger" type="submit">Thêm</button>
    </div>
  </form>
  <hr>
</div>
