<div class="container-fluid " style="min-width: 1000px; margin-bottom: 20px">
  <form class="container" [formGroup]="checkouForm" (ngSubmit)="order()">
    <div class="row">
      <main class="col-md-9">
        <h5 class="text-uppercase font-weight-bold">Địa chỉ giao hàng</h5>
        <div class="card address-padding">
          <div class="form-group row">
            <label for="fullName" class="col-sm-2 col-form-label font-weight-bold">Họ và tên</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="fullName" formControlName="fullName"
                     placeholder="Nguyen Thi H">
              <mat-error
                *ngIf="checkouForm.get('fullName')?.hasError('required') && checkouForm.get('fullName')?.touched">
                Họ và tên không được để trống!
              </mat-error>
              <mat-error
                *ngIf="checkouForm.get('fullName')?.hasError('maxLength') && checkouForm.get('fullName')?.touched">
                Họ và tên không được quá 45 ký tự!
              </mat-error>
            </div>
          </div>
          <div class="form-group row">
            <label for="phone" class="col-sm-2 col-form-label font-weight-bold">Số điện thoại</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="phone" formControlName="phone" placeholder="098xxxxx12">
              <mat-error
                *ngIf="checkouForm.get('phone')?.hasError('required') && checkouForm.get('phone')?.touched">
                Số điện thoại không được để trống!
              </mat-error>
              <mat-error
                *ngIf="checkouForm.get('phone')?.hasError('pattern') && checkouForm.get('phone')?.touched">
                Số điện thoại không đúng định dạng!
              </mat-error>
            </div>
          </div>
          <div class="form-group row">
            <label for="address" class="col-sm-2 col-form-label font-weight-bold">Địa chỉ</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="address" formControlName="address"
                     placeholder="1XX, Trần Phú Toản, xxxx">
              <mat-error
                *ngIf="checkouForm.get('address')?.hasError('required') && checkouForm.get('address')?.touched">
                Địa chỉ không được để trống!
              </mat-error>
              <mat-error
                *ngIf="checkouForm.get('address')?.hasError('maxLength') && checkouForm.get('address')?.touched">
                Địa chỉ không được quá 200 ký tự!
              </mat-error>
            </div>
          </div>
        </div>

        <h5 class="mt-4 text-uppercase font-weight-bold">kiểm tra lại đơn hàng</h5>
        <div class="card">
          <table class="table table-borderless table-shopping-cart">
            <thead class="border-bottom">
            <tr class="text-uppercase text-center">
              <th>Sản phẩm</th>
              <th>Số lượng</th>
              <th>Giá</th>
              <th>Tổng</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cart of cartList">
              <td>
                <figure class="itemside">
                  <div class="aside"><img src="{{cart.book.imageList[0].path}}" class="img-sm"></div>
                  <figcaption class="info">
                    <a [href]="['book' + cart.book.id]" class="title text-dark">{{cart.book.name}}</a>
                  </figcaption>
                </figure>
              </td>
              <td class="text-center">
                {{cart.quantity}}
              </td>
              <td class="text-center">
                {{cart.book.price | currency: "VND"}}
              </td>
              <td class="text-center">
                {{cart.book.price * cart.quantity| currency: "VND"}}
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </main>


      <aside class="col-md-3 mt-3">
        <h5 class="text-uppercase font-weight-bold text-center">Thanh toán</h5>
        <div class="card">
          <div class="card-body">
            <dl class="dlist-align">
              <dt>Tổng tiền:</dt>
              <dd class="text-right">{{total | currency: "VND"}}</dd>
            </dl>
            <dl class="dlist-align">
              <dt>Phí vận chuyển:</dt>
              <dd class="text-right">{{priceShip | currency: "VND"}}</dd>
            </dl>
            <hr>
            <dl class="dlist-align" style="font-size: 25px">
              <dt>Tổng:</dt>
              <dd class="text-right text-danger">{{totalPrice | currency: "VND"}}</dd>
            </dl>
          </div>
        </div>
        <p class="text-center font-weight-bold text-info mt-2"><i class="fa fa-truck mr-2"></i>Vui lòng thanh toán khi
          nhận hàng.</p>
        <div class="mt-4">
          <button type="submit" class="btn btn-order mr-1 w-100 text-capitalize">Xác nhận thanh toán</button>
        </div>
      </aside>
    </div>
  </form>
</div>

