<div class="d-flex justify-content-center">
  <mat-spinner *ngIf="book==null"></mat-spinner>
</div>
<div *ngIf="book!=null" class="container padding-y" style="min-width: 1200px; margin-bottom: 20px">
  <article class="card">
    <div class="card-body">
      <div class="row">
        <aside class="col-md-6">
          <article class="gallery-wrap">
            <div class="card img-big-wrap">
              <a *ngIf="book.imageList.length == 0"> <img src="" alt="image"></a>
              <a *ngIf="book.imageList.length != 0"> <img src="{{book.imageList[0].path}}" alt="image"></a>
            </div>
            <div class="thumbs-wrap" *ngIf="book.imageList.length != 0">
              <a class="item-thumb" *ngFor="let image of book.imageList">
                <img src="{{image.path}}" alt="image">
              </a>
            </div>
          </article>
        </aside>
        <main class="col-md-6">
          <article>
            <h3 class="title">{{book.name}}</h3>
            <b translate>settings.codeProduct<i class="font-weight-light"> {{book.code}}</i></b>

            <hr>
            <div class="row">
              <div class="mb-3 col-6">
                <p *ngIf="book.authorList != null" translate>settings.author<span
                  *ngFor="let author of book.authorList"> {{author.name}} </span><br></p>
                <p translate>settings.producer<span> {{book.producer.name}}</span></p>
                <p translate>settings.size<span> {{book.lenght}} x {{book.width}} <span
                    *ngIf="book.height != null">x {{book.height}}</span> cm</span></p>
                <p translate>settings.yearPublishing<span> {{book.yearPublishing}}</span></p>
              </div>
              <div class="mb-3" style="padding-left: 10px">
                <p *ngIf="book.pageNumber !=null" translate>settings.pageNumber<span> {{book.pageNumber}}</span></p>
                <p translate>settings.weight<span> {{book.weight}} grams</span></p>
                <p *ngIf="book.formCover != null"><span class="font-weight-light" translate>settings.cover</span>
                  <span *ngIf="book.formCover == cover.SOFT">Bìa mềm</span>
                  <span *ngIf="book.formCover == cover.HARD">Bìa cứng</span>
                </p>
              </div>
            </div>

            <div class="mb-3">
              <b class="price h4 text-danger">{{book.price | currency: "VND"}}</b> <br>
            </div>

            <div class="mb-3" *ngIf="book.quantity > 0">
              <p class="pl-3" translate>settings.quantity<span class="pl-3 font-weight-light" translate>settings.inventory</span> {{book.quantity}}
                )</p>
              <div class="buttons_added ml-3">
                <button class="minus is-form" (click)="minusQuantity()"><i class="fa fa-minus"></i></button>
                <input class="input-qty" type="number"
                       [value]="quantity" disabled>
                <button class="plus is-form" (click)="plusQuantity()"><i class="fa fa-plus"></i></button>
              </div>
            </div>
            <div class="mb-3" *ngIf="book.quantity == 0">
              <p class="pl-3" translate>settings.outOfStock</p>
            </div>

            <div class="mb-3">
              <button [disabled]="book.quantity == 0" (click)="addCart(book.id)"
                      class="btn btn-cart text-capitalize mr-4">
                <i class="fa fa-shopping-cart mr-4"></i><span translate>settings.addCart</span>
              </button>
              <a (click)="movecheckout(book, quantity)">
                <button class="btn btn-order mr-1 text-capitalize" [disabled]="book.quantity == 0"><span translate>settings.buy</span>
                </button>
              </a>
            </div>

            <div>
              <h5 class="font-weight-bold" translate>settings.service</h5>
              <p translate><i class="fa fa-truck mr-4"></i>settings.contentService1</p>
              <p translate><i class="fa fa-truck mr-4"></i>settings.contentService2</p>
            </div>

          </article>
        </main>
      </div>
    </div>
  </article>

  <article class="card mt-5">
    <div class="card-body">
      <h3 translate>settings.description</h3>
      <hr>
      <div [innerText]="book.description">
      </div>
    </div>
  </article>
</div>
