.m-b-8 {
  margin-bottom: 8px;
}

.p-b-30 {
  padding-bottom: 30px;
}

.m-b-18 {
  margin-bottom: 18px;
}

.m-b-26 {
  margin-bottom: 26px;
}

.w-full {
  width: 100%;
}

.flex-sb-m {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
}
