<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="login100-form-title" style="background-image: url(assets/images/bg_01.jpg);">
					<span class="login100-form-title-1 text-uppercase">
            <p translate>settings.login</p>
					</span>
      </div>

      <form class="login100-form" [formGroup]="formLogin" (ngSubmit)="login()">
        <div class="wrap-input100 m-b-26">
          <span class="label-input100" translate>settings.email</span>
          <input class="input100" type="text" formControlName="email" placeholder="your-email@gmail.com">
          <span class="focus-input100"></span>
        </div>
        <mat-error *ngIf="(formLogin.get('email')?.hasError('required') && formLogin.get('email')?.touched) ||
        (formLogin.get('email')?.untouched && submitting)">
          <p translate>settings.emailRequired</p>
        </mat-error>
        <mat-error *ngIf="formLogin.get('email')?.hasError('email') && formLogin.get('email')?.touched">
          <p translate>settings.emailErr1</p>
        </mat-error>

        <div class="wrap-input100 m-b-18">
          <span class="label-input100" translate>settings.password</span>
          <input class="input100" type="password" formControlName="password" placeholder="********">
          <span class="focus-input100"></span>
        </div>
        <mat-error *ngIf="(formLogin.get('password')?.hasError('required') && formLogin.get('password')?.touched) ||
        (formLogin.get('password')?.untouched && submitting)">
          <p translate>settings.passwordRequired</p>
        </mat-error>
        <mat-error *ngIf="errorEmailPassword">
          <p translate>settings.errorEmailPassword</p>
        </mat-error>
        <mat-error *ngIf="errorLocked">
          <p translate>settings.errorLocked</p>
        </mat-error>

        <div class="container-login100-form-btn">
          <button class="login100-form-btn" type="submit">
            <p translate>settings.login</p>
          </button>
        </div>

        <div class="container-login100-form-btn">
          <button class="register100-form-btn" [routerLink]="['/register']">
            <p translate>settings.register</p>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
