<h5 mat-dialog-title class="text-center text-uppercase">Chi tiết đơn hàng</h5>
<p class="text-center">Đơn hàng: {{order.code}}</p>
<p class="m-0">Họ tên khách hàng: {{order.fullName}}</p>
<p class="m-0">Số điện thoại: {{order.phone}}</p>
<p>Địa chỉ: {{order.address}}</p>
<div mat-dialog-content>
  <table class="table table-striped" style="width:100%">
    <thead>
    <tr class="text-center">
      <th>Sản Phẩm</th>
      <th>Đơn Giá</th>
      <th>Số Lượng</th>
      <th>Số Tiền</th>
    </tr>
    </thead>
    <tbody>
    <tr class="text-td" *ngFor="let detail of orderDetailList">
      <td><img class="book-image" src="{{detail.book.imageList[0].path}}" alt="alt" style="width: 60px; height: 60px"> <br>{{detail.book.name}}</td>
      <td class="text-right">{{detail.book.price | currency: "VND"}}</td>
      <td class="text-right">{{detail.quantity}}</td>
      <td class="text-right">{{detail.quantity * detail.book.price | currency: "VND"}}</td>
    </tr>
    </tbody>
  </table>
</div>
<p class="text-capitalize">
  <b>Tổng thanh toán ({{count}} sản phẩm):</b> {{totalPrice | currency: "VND"}}
</p>
<hr>
<div mat-dialog-actions class="justify-content-center">
  <button mat-button mat-dialog-close class="btn btn-secondary">Thoát</button>
</div>
