<form class="form-group form-label-left input_mask" [formGroup]="formCreateBook" (ngSubmit)="createBook()">
  <h1 class="text-center text-uppercase" mat-dialog-title>Thêm sách mới</h1>
  <hr>
  <div mat-dialog-content>
    <div class="form-group row" style="padding: 0px 10px">
      <label>Tên sách</label>
      <input type="text" class="form-control" formControlName="name" maxlength="200" placeholder="Nhập tên sách">
      <mat-error
        *ngIf="formCreateBook.get('name')?.hasError('required') && formCreateBook.get('name')?.touched">
        Tên sách không được để trống!
      </mat-error>
    </div>
    <div class="row ">
      <div class="form-group col-md-4">
        <label>Mã sách</label>
        <input type="text" class="form-control" formControlName="code" maxlength="20" placeholder="Nhập mã sách">
        <mat-error
          *ngIf="(formCreateBook.get('code')?.hasError('required') && formCreateBook.get('code')?.touched) ||
          (formCreateBook.get('code')?.untouched && submitting)">
          Mã sách không được để trống!
        </mat-error>
      </div>
      <div class="form-group col-md-4">
        <label>Ngôn ngữ</label>
        <select class="form-control" formControlName="language">
          <option value="VIETNAMESE" selected>Tiếng Việt</option>
          <option value="ENGLISH">Tiếng Anh</option>
          <option value="JAPANESE">Tiếng Nhật</option>
          <option value="CHINESE">Tiếng Trung</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label>Loại bìa</label>
        <select class="form-control" formControlName="formCover">
          <option value="SOFT" selected>Bìa Mềm</option>
          <option value="HARD">Bìa Cứng</option>
        </select>
      </div>
    </div>
    <div class="row ">
      <div class="form-group col-md-3">
        <label>Giá</label>
        <input type="number" class="form-control" formControlName="price" placeholder="0.00">
        <mat-error
          *ngIf="(formCreateBook.get('price')?.hasError('required') && formCreateBook.get('price')?.touched) ||
          (formCreateBook.get('price')?.untouched && submitting)">
          Giá sách không được để trống!
        </mat-error>
        <mat-error
          *ngIf="formCreateBook.get('price')?.hasError('pattern') && formCreateBook.get('price')?.touched">
          Giá sách phải là một số dương!
        </mat-error>
      </div>
      <div class="form-group col-md-3">
        <label>Số lượng</label>
        <input type="number" class="form-control" formControlName="quantity" placeholder="0">
        <mat-error
          *ngIf="(formCreateBook.get('quantity')?.hasError('required') && formCreateBook.get('quantity')?.touched) ||
          (formCreateBook.get('quantity')?.untouched && submitting)">
          Số lượng sách không được để trống!
        </mat-error>
        <mat-error
          *ngIf="formCreateBook.get('quantity')?.hasError('pattern') && formCreateBook.get('quantity')?.touched">
          Số lượng sách phải là số dương!
        </mat-error>
      </div>
      <div class="form-group col-md-3">
        <label>Số trang</label>
        <input type="number" class="form-control" formControlName="pageNumber" placeholder="0">
        <mat-error
          *ngIf="formCreateBook.get('pageNumber')?.hasError('pattern') && formCreateBook.get('pageNumber')?.touched">
          Số trang sách phải là số dương!
        </mat-error>
      </div>
      <div class="form-group col-md-3">
        <label>Năm xuất bản</label>
        <input type="text" formControlName="yearPublishing" class="form-control"/>
        <mat-error
          *ngIf="(formCreateBook.get('yearPublishing')?.hasError('required') && formCreateBook.get('yearPublishing')?.touched) ||
          (formCreateBook.get('yearPublishing')?.untouched && submitting)">
          Năm xuất bản không được để trống!
        </mat-error>
        <mat-error
          *ngIf="formCreateBook.get('yearPublishing')?.hasError('pattern') && formCreateBook.get('yearPublishing')?.touched">
          Năm xuất bản không đúng định dạng!
        </mat-error>
        <mat-error
          *ngIf="formCreateBook.hasError('yearnotmatch', ['yearPublishing']) && formCreateBook.get('yearPublishing')?.touched">
          Năm xuất bản phải nhỏ hơn hoặc bằng năm hiện tại!
        </mat-error>
      </div>
    </div>
    <div class="row ">
      <div class="form-group col-md-3">
        <label>Chiều dài</label>
        <input type="number" class="form-control" formControlName="lenght" placeholder="0.00">
        <mat-error
          *ngIf="(formCreateBook.get('lenght')?.hasError('required') && formCreateBook.get('lenght')?.touched) ||
          (formCreateBook.get('lenght')?.untouched && submitting)">
          Chiều dài trang sách không được để trống!
        </mat-error>
        <mat-error
          *ngIf="formCreateBook.get('lenght')?.hasError('pattern') && formCreateBook.get('lenght')?.touched">
          Chiều dài trang sách phải là số dương!
        </mat-error>
      </div>
      <div class="form-group col-md-3">
        <label>Chiều rộng</label>
        <input type="number" class="form-control" formControlName="width" placeholder="0.00">
        <mat-error
          *ngIf="(formCreateBook.get('width')?.hasError('required') && formCreateBook.get('width')?.touched) ||
          (formCreateBook.get('width')?.untouched && submitting)">
          Chiều rộng sách không được để trống!
        </mat-error>
        <mat-error
          *ngIf="formCreateBook.get('width')?.hasError('pattern') && formCreateBook.get('width')?.touched">
          Chiều rộng sách phải là một số dương!
        </mat-error>
      </div>
      <div class="form-group col-md-3">
        <label>Chiều cao</label>
        <input type="number" class="form-control" formControlName="height" placeholder="0.00">
        <mat-error
          *ngIf="formCreateBook.get('height')?.hasError('pattern') && formCreateBook.get('height')?.touched">
          Chiều cao sách phải là một số dương!
        </mat-error>
      </div>
      <div class="form-group col-md-3">
        <label>Trọng lượng</label>
        <input type="number" class="form-control" formControlName="weight" placeholder="0.00">
        <mat-error
          *ngIf="(formCreateBook.get('weight')?.hasError('required') && formCreateBook.get('weight')?.touched) ||
          (formCreateBook.get('weight')?.untouched && submitting)">
          Trọng lượng sách không được để trống!
        </mat-error>
        <mat-error
          *ngIf="formCreateBook.get('weight')?.hasError('pattern') && formCreateBook.get('weight')?.touched">
          Trọng lượng sách phải là một số dương!
        </mat-error>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-4">
        <label>Thể loại <i (click)="openDialogAddCategory()" class="fa fa-plus btn-outline-secondary"></i></label>
        <mat-select id="categoryList" class="form-control" placeholder="--Chọn--" multiple required>
          <mat-option *ngFor="let category of categoryList" value="{{category.id}}"
                      formArrayName="categoryList"
                      (onSelectionChange)="onCheckboxChangeCategory($event,category)">{{category.name}}</mat-option>
        </mat-select>
        <mat-error
          *ngIf="categoryListError">
          Thể loại không được để trống!
        </mat-error>
      </div>
      <div class="form-group col-md-4">
        <label>Tác giả <i (click)="openDialogAddAuthor()" class="fa fa-plus btn-outline-secondary"></i></label>
        <mat-select class="form-control" placeholder="--Chọn--" multiple>
          <mat-option *ngFor="let author of authorList" value="{{author.id}}" formArrayName="authorList"
                      (onSelectionChange)="onCheckboxChangeAuthor($event,author)">{{author.name}}</mat-option>
        </mat-select>
        <mat-error
          *ngIf="authorListError">
          Tác giả không được để trống!
        </mat-error>
      </div>
      <div class="form-group col-md-4" formGroupName="producer">
        <label>Nhà xuất bản <i (click)="openDialogAddProducer()" class="fa fa-plus btn-outline-secondary"></i></label>
        <mat-select class="form-control" placeholder="--Chọn--" formControlName="id" required>
          <mat-option *ngFor="let producer of producerList" value="{{producer.id}}">{{producer.name}}</mat-option>
        </mat-select>
        <mat-error
          *ngIf="formCreateBook.get('producer')?.hasError('required') && formCreateBook.get('producer')?.touched">
          Nhà xuất bản không được để trống!
        </mat-error>
      </div>
    </div>
    <div class="row" formArrayName="imageList">
      <div class="form-group col-md-6">
        <label>Ảnh</label>
        <input multiple type="file" class="form-control" (change)="selectFile($event)">
      </div>
      <div class="form-group col-md-6" *ngIf="imageList">
        <img *ngFor="let image of imageList" [src]="image.path"
             style="width: 50px; height: 60px; padding-right: 5px; padding-top: 15px">
      </div>
    </div>
    <div class="form-group row" style="padding: 0px 10px">
      <label>Mô tả</label>
      <textarea class="form-control" formControlName="description" placeholder="Mô tả"></textarea>
    </div>
  </div>
  <hr>
  <div class="form-group row" mat-dialog-actions>
    <div class="col-md-9 col-sm-9  offset-md-3">
      <button mat-button mat-dialog-close class="btn btn-secondary">Thoát</button>
      <button mat-button class="btn btn-info" type="reset">Đặt lại</button>
      <button mat-button class="btn btn-success" type="submit">Thêm</button>
    </div>
  </div>
</form>
