<div *ngIf="bookList == null" class="text-center">
  <img src="assets/images/homepage.jpg" width="200px">
</div>

<div *ngIf="bookList != null" class="container padding-y" style="margin-bottom: 20px; min-width: 1000px">
  <div>
    <div class="row">
      <div class="w_20" *ngFor="let book of bookList | paginate :{itemsPerPage:40 ,currentPage : p}">
        <mat-card>
          <div style="height: 200px" [routerLink]="['book/', book.id]">
            <img style="height: 200px; width: 100%; padding-left: 10px" [src]="book.imageList[0].path"
                 [alt]="book.imageList[0].name">
          </div>
          <mat-card-content class="mt-2">
            <p style="margin-bottom: 5px;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"
               [routerLink]="['book/', book.id]">
              {{book.name}}
            </p>
            <p>
              <span class="text-danger font-weight-bold">{{book.price | currency: 'VND'}}</span>
              <span class="right"><i class="fa fa-shopping-cart" style="font-size: 15px"
                                     (click)="addCart(book.id)"></i></span>
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <!--        Pagination-->
  <pagination-controls class="text-right text" (pageChange)="p = $event"
                       previousLabel="Trước"
                       nextLabel="Sau"
                       [autoHide]="true">
  </pagination-controls>
</div>
