<h3 class="text-center">DANH SÁCH THÀNH VIÊN</h3>
<button type="button" class="btn btn-primary float-right"><i class="fa fa-plus"></i></button>
<div class="card-box table-responsive">
  <table id="datatable-checkbox" class="table table-striped table-bordered bulk_action" style="width:100%">
    <thead>
    <tr>
      <th>Chọn</th>
      <th>Tên tài khoản</th>
      <th>Họ và tên</th>
      <th>Giới tính</th>
      <th>Ngày sinh</th>
      <th>Email</th>
      <th>Số điện thoại</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <input type="checkbox" id="check-all">
      </td>
      <td>ngant</td>
      <td>Nguyen Thị Nga</td>
      <td>Nữ</td>
      <td>02/06/2000</td>
      <td>ngant@gmail.com</td>
      <td>0928291810</td>
    </tr>
    </tbody>
  </table>
</div>

